<div class="card">
  <h4 class="title">Lord of the rings</h4>
  <div class="detail-row">
    <span>author</span>
    <span>JRR Tolkins</span>
  </div>
  <div class="detail-row">
    <span>Genre</span>
    <span>Fantasy</span>
  </div>
  <div class="detail-row">
    <span>Publisher</span>
    <span>New Moon Publisher</span>
  </div>
  <div class="detail-row">
    <span>Publishe date</span>
    <span>august 2020</span>
  </div>
  <div class="card-footer">
    <button>Delete</button>
    <button>Edit</button>
  </div>
</div>
