<div class="card" *ngIf="book">
  <h4 class="title">{{ book.title }}</h4>
  <div class="detail-row">
    <span>author</span>
    <span>{{ book.author }}</span>
  </div>
  <div class="detail-row">
    <span>Genre</span>
    <span>{{ book.genre.value }}</span>
  </div>
  <div class="detail-row">
    <span>Publisher</span>
    <span>{{ book.publisher }}</span>
  </div>
  <div class="detail-row">
    <span>Publishe date</span>
    <span>{{ book.date }}</span>
  </div>
  <div class="card-footer">
    <button (click)="handleDelete(book.id)">Delete</button>
    <button (click)="handleEdit(book)">Edit</button>
  </div>
</div>
